*{
    margin: 5px; /*que este bien a la izq, sin margen */
    padding:3px; /*que no tenga relleno*/
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif; /*lista de fuentes */
    font-style: normal; /*estilo del texto o fuente*/
    /* font-size: 16px;    --> tamaño de la fuente */
}

h1{
    text-align: center;
    color:red;
    background-color: beige;
    font-size: 40px;
}

/*h1:hover{ 
    animation: flip;
    animation-duration: 5s;
} */


header,footer{
    background-color: red;
    color:white
}
footer{
    text-align: center;
}

#tel:hover {
    animation: heartBeat;   /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;  /* don't forget to set a duration! */
}
nav  a{  /* a la etiqueta nav que tiene como descendoiente una eituqta a*/
    padding: 10px;
    background-color:white;
    text-decoration:none;
    border: 1px solid brown;
    margin: 5px;
    border-radius: 5px;    
    display:  inline-block;
}
nav a:link {color: red;}/* color rojo a todos los link*/
nav a:hover {
    background-color: black;
    color: white;
    /*transform: skew(20deg)*/
    animation: bounce;
    animation-duration: 2s;
}
/*nav a:visited {color: blue;}*/
nav a:active {background-color: green; color: white;}

p::selection{
    background-color: antiquewhite;
}
 
#contenedor{
    /* height: 1200px; */
    display: flex;
    flex-direction: row;   /* column , row-reverse,  col-reverse*/
    flex-wrap: wrap;  /* nowrap wrap wrap-reverse*/
    justify-content: space-around ; /* center flex-start flex-end space-between (entre) space-around (alrededor)*/
    align-content: space-around;  /* center flex-end flex-start space-around space-between*/
}

#tel{
    width: 50px;
    position: fixed;
    bottom: 60px;
    right:40px;
    /*display: none;*/
   /* visibility: hidden;*/
}

/* tarjeta */
#card{
    width: 350px;
    padding: 5px;
    border: 1px solid black;
    
    border-radius: 5px;
    margin-top: 10px;
}

.imagencard{
    width: 100%;
}